/*Layout footer per risparmiare righe di codice*/
  #social-bar a {
    -webkit-transition: 0.5s;
    
    -o-transition: 0.5s;
    transition: 0.5s;
    padding:15px;
    font-size: 10px;
    text-decoration:none;
    color: white;
  }
  #social-bar a:hover {
    opacity:0.8;
    color:#258ce6;
    border-radius: 10px;
    border-style: groove;
  }
  .facebook {
    background: #3B5998;
  }
  .instagram {
    background: #dd2a7b;
  }
  .twitter {
    background: #55ACEE;
  }
