/*Layout generale pagina contatti + form*/
@import "footer";
@import "variabili";

%nomeecognome{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: orange;
    text-decoration: underline;
    height: fit-content;
    font-size: 15px;
    width: 500px;
    height: 40px;
}
#nome{
    @extend %nomeecognome;
}
#cognome{
    @extend %nomeecognome;
}
#email{
    @extend %nomeecognome;
}
#richiesta{
    @extend %nomeecognome;
}
html{
    font-size: larger;
    color: black;
}
#invia{
    background-color: orange;
    color:white;
    width: 70px;
    height: 40px;
}
#invia:hover{
    color:aquamarine;
    text-decoration: underline;
    opacity: 0.7;
    border-style: groove;
    border-radius: 10px;
}
#contatti{
    text-align: $center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
%links{
    color: blue;
    font-size: 17px;
    display: inline;
    margin-left: 10px;
    text-decoration: none;
}
#home{
    @extend %links;
    position:absolute;
    top:20px;
    font-size: large;
}
#link2{
    @extend %links;
    position:absolute;
    top:20px;
    left:70px;
    font-size: large;
}
%linksHover{
    text-decoration: underline;
    color: #ffd700;
}
#home:hover{
    @extend %linksHover;
}
#link2:hover{
    @extend %linksHover;
}
#informazioni{
    text-align: $center;
}
#seguitemi{
    color: black;
}
#spunta-dati{
    margin-top: 30px;
}
#mappa-e-contatti{
    margin-top: 70px;
    text-align: $center;
}
#nav{
    background-color: red;
    height: 50px;
}
