/*Layout generale lavoro singolo*/
@import "footer";
@import "variabili";

html{
    font-size:larger;
    color: black;
}
#data,#elenco,ul{
    margin-left: 50px;
}
footer{
    max-height: 1400px;
}
footer>h2{
    font-family: fantasy;
}
%family{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    @extend %family;
}
li{
    @extend %family;
}
%links{
    color: blue;
    font-size: 17px;
    display: inline;
    margin-left: 10px;
    text-decoration: none;
}
#home{
    @extend %links;
    position:absolute;
    top:20px;
    font-size: large;
}
#link1{
    @extend %links;
    position:absolute;
    top:20px;
    left:70px;
    font-size: large;
}
#link2{
    @extend %links;
    position: absolute;
    top:20px;
    left:200px;
    font-size: large;

}
%linksHover{
    text-decoration: underline;
    color: #ffd700;
}
#home:hover{
    @extend %linksHover;
}
#link1:hover{
    @extend %linksHover;
}
#link2:hover{
    @extend %linksHover;
}
#elenco{
    margin-top: 100px;
}
h1{
    @extend %family;
}
#esperienza{
    text-align: center;
}
h2{
    @extend %family;
}
#descrizione{
    text-align: right;
    margin-right: 50px;
}
#align{
    position: absolute;
    left: 20px;
    top: 280px;
}
#nav{
    background-color: red;
    height: 50px;
}