/*Layout generale portfolio*/
@import "variabili";
@import "footer";

html{
    font-size: $font;
    color: black;
    width: fit-content;
    height: fit-content;
    font-size: larger;
}
%family{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    @extend %family;
}
li{
    @extend %family;
}
#portfolio{
    @extend %family;
    color: black;
    margin-left: 10px;
}
%links{
    color: blue;
    display: inline;
    margin-left: 10px;
    text-decoration: none;
}
%linksHover{
    text-decoration: underline;
    color: #ffd700;
}
%border{
    border-style: groove;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    display: inline-flex;
}
#lista{
    @extend %border;
}
#lavori-in-volo{
    margin-top: $marginTop;
}
#lavori-supermercato{
    margin-top: $marginTop;
}
#lavori-programmazione{
    margin-top: $marginTop;
}
#home{
    @extend %links;
    position:absolute;
    top:20px;
    font-size: large;
}
#link2{
    @extend %links;
    position:absolute;
    top:20px;
    left:70px;
    font-size: large;
}
#home:hover{
    @extend %linksHover;
}
#link2:hover{
    @extend %linksHover;
}
#titolo{
    text-align: center;
}
#elenco{
    text-align: center;
}
#nav{
    background-color: red;
    height: 50px;
}
#lavoro-singolo,#lavori1,#lavori2,#lavori3,#lavori4,#lavori5,#lavori6,#lavori7,#lavori8,#lavori9,#lavori10,#lavori11{
    text-decoration: none;
    color: blue;
}
%hover{
    text-decoration: underline;
    color: red;
}
#lavoro-singolo:hover{
    @extend %hover;
}
#lavori1:hover{
    @extend %hover;
}
#lavori2:hover{
    @extend %hover;
}
#lavori3:hover{
    @extend %hover;
}
#lavori4:hover{
    @extend %hover;
}
#lavori5:hover{
    @extend %hover;
}
#lavori6:hover{
    @extend %hover;
}
#lavori7:hover{
    @extend %hover;
}
#lavori8:hover{
    @extend %hover;
}
#lavori9:hover{
    @extend %hover;
}
#lavori10:hover{
    @extend %hover;
}
#lavori11:hover{
    @extend %hover;
}