/*Layout generale portfolio*/
@import "variabili";
@import "footer";
footer{
    background-color: #5A5A5A;
    color: whitesmoke;
    height: fit-content;
}
#link>li>a{
    text-decoration: none;
    color: yellow;
}
#link>li{
    margin-top: 10px;
}
#contatti>li{
    margin-top: 10px;
}
#link{
    padding-top: 60px;
    padding-left: 60px;
    display: inline-block;
    margin-bottom: 170px;
}
#link>li>a:hover{
    text-decoration: underline;
    opacity: 0.6;
}
#secondoLogo{
    text-align: right;
    font-family: fantasy;
    margin-right: 200px;
    font-size: 65px;
    color: yellow;
    text-decoration: line-through;
    padding-bottom: 50px;
}
#contatti{
    margin-left: 100px;
    display: inline-block;
}
#ilTuoNome,#ilTuoCognome,#laTuaEmail,#laTuaRichiesta{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(225, 239, 38);
    text-decoration: underline;
    height: fit-content;
    font-size: 15px;
    width: 300px;
    height: 40px;
}
#invia{
    background-color: rgb(225, 239, 38);
    color:white;
    width: 70px;
    height: 40px;
}
#invia:hover{
    color:aquamarine;
    text-decoration: underline;
    opacity: 0.7;
    border-style: groove;
    border-radius: 10px;
}
#form2{
    display: inline-block;
    margin-left: 170px;
}
h5{
    font-size: 25px;
}
h4{
    text-align: center;
}
#social-bar {
    top: 0;
    margin-top: 100px;
    bottom: 0;
    left: 0;
    margin-left: 100px;
    height: -moz-fit-content;
    height: fit-content
}

#social-bar a {
    text-align: center;
    transition: .5s;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    color: #fff
}

#social-bar a:hover {
    opacity: .8;
    color: #258ce6;
    border-radius: 10px;
    border-style: groove
}

.facebook {
    background: #3b5998
}

.instagram {
    background: #dd2a7b
}

.twitter {
    background: #55acee
}
.instagram,.twitter{
    margin-left: 80px;
}
#logo{
    position: absolute;
    left: 20px;
    top: -17px;
    font-size: 35px;
    color: #fff;
    text-decoration: line-through;
    font-family: fantasy;
}
#logo:hover{
    color: grey;
    opacity: 0.9;
}
html{
    color: black;
    height: fit-content;
    width: fit-content;
    overflow-x: hidden;
    font-size: larger;
    background-color: rgb(225, 239, 38);
}
#descrizione,#loremIpsum{
    margin-left: 480px;
    margin-right: 250px;
}
ul>li>a{
    text-decoration: none;
}
ul>li>a:hover{
    text-decoration: underline;
    color: rgb(222, 222, 3);
    opacity: 0.7;
}
%family{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    @extend %family;
}
li{
    @extend %family;
}
#portfolio{
    @extend %family;
    color: black;
    background-color: #c3a811;
    margin-left: 10px;
    font-size: $font;
}
%links{
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    font-size: $font;
}
%linksHover{
    text-decoration: underline;
    color: #ffd700;
}
%border{
    border-style: groove;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    display: inline-flex;
}
footer,#seguitemi{
    text-align: left;
}
#lista{
    @extend %border;
}
#lavori-in-volo{
    margin-top: $marginTop;
}
#lavori-supermercato{
    margin-top: $marginTop;
}
#lavori-programmazione{
    margin-top: $marginTop;
}
#home{
    @extend %links;
    position:absolute;
    top:20px;
    left: 1100px;
    font-size: 25px;
}
#link2{
    @extend %links;
    position:absolute;
    top:20px;
    left:1200px;
    font-size: 25px;
}
#home:hover{
    @extend %linksHover;
}
#link2:hover{
    @extend %linksHover;
}
#titolo{
    text-align: center;
    font-size: $font;
}
#elenco{
    text-align: center;
    font-size: $font;
}
#nav{
    background-color: black;
    height: 50px;
    width: 1600px;
}
#lavoro-singolo,#lavori1,#lavori2,#lavori3,#lavori4,#lavori5,#lavori6,#lavori7,#lavori8,#lavori9,#lavori10,#lavori11{
    text-decoration: none;
    color: blue;
}
%hover{
    text-decoration: underline;
    color: red;
}
#lavoro-singolo:hover{
    @extend %hover;
}
#lavori1:hover{
    @extend %hover;
}
#lavori2:hover{
    @extend %hover;
}
#lavori3:hover{
    @extend %hover;
}
#lavori4:hover{
    @extend %hover;
}
#lavori5:hover{
    @extend %hover;
}
#lavori6:hover{
    @extend %hover;
}
#lavori7:hover{
    @extend %hover;
}
#lavori8:hover{
    @extend %hover;
}
#lavori9:hover{
    @extend %hover;
}
#lavori10:hover{
    @extend %hover;
}
#lavori11:hover{
    @extend %hover;
}

@media(min-width: 768px)and (max-width: 1024px) {

    #descrizione,#loremIpsum{
        margin-right: 1000px;
        padding-right: 30px;
        margin-left: 5px;
    }
    footer{
        font-size: 15px; 
    }
    #home{
        left: 400px
    }
    #link2{
        left: 500px;
    }
    h4{
        margin-left: -900px
    }
    #secondoLogo{
        text-align: center;
        margin-left: -200px;
        padding-bottom: 50px;
    }
    #contatti{
        margin-left: 10px;
    }
    #form2{
        margin-left: 27px;
    }
    #ilTuoNome,#ilTuoCognome,#laTuaEmail,#laTuaRichiesta{
        width: 200px;
    }
    #infoForm{
        margin-left: -120px;
        font-size: 20px;
        margin-top: 150px;
    }

}



/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 479px) {
  
    /* CSS */
    #lista{
        display: inline;
        margin-right: 300px;
        border-style: groove;
        border-top: 1px;
        border-left: 1px;
        border-right: 1px;
        border-bottom: 1px;
    }
    #home,#link2{
        font-size: 15px;
    }
    #link2{
        margin-left: 1px;
    }
    #logo{
        font-family: cursive;
        font-size: 30px;
    }
    #secondoLogo{
        font-size: 40px;
        font-family: cursive;
    }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    
  
    /* CSS */

    html,body{
        overflow-x: hidden;
        font-size: 15px;
        width: 385px;
    }
    footer{
        padding-right: 5px;
    }
    #portfolio{
        margin-left: -20px;
    }
    #descrizione,#loremIpsum{
        margin-left: 1px;
        margin-right: 100px;
    }
    #ilTuoNome,#ilTuoCognome,#laTuaEmail,#laTuaRichiesta{
        width: fit-content;
    }
    #home,#link2{
        font-size: large;
    }
    #home{
        left: 170px
    }
    #link2{
        left: 240px
    }
    .facebook,.instagram,.twitter{
        margin-left: -60px;
    }
    .instagram{
        margin-left: 40px;
    }
    .twitter{
        margin-left: 40px;
    }
    #link{
        padding-bottom: -10px;
    }
    #contatti{
        margin-left: -10px;
    }
    #form2{
        display: inline;
    }
    h4{
        display: inline;
    }
    #secondoLogo,h4{
        display: inline;
        padding-left: 100px;
    }
    form{
        padding-left: 50px;
        
    }
    h5{
        padding-left: 50px;
        font-size: 20px;
    }

}